.cardBodyStyle[type="category"] {
  height: 15.5rem;
  width: 19.5rem;
  background-color: #ffffff;
  border: 1px solid var(--grey-medium);
  border-radius: 10px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.cardBodyStyle[type="category"] .thumbStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardBodyStyle[type="category"] .thumbStyle .imgStyle {
  height: 11.5rem;
  width: 19.5rem;
  border-radius: 10px 10px 0 0;
}

.cardBodyStyle[type="category"] .textSection {
  height: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardBodyStyle[type="recomendations"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  min-height: 17.75rem;
  height: auto;
  max-width: 39.75rem;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid var(--grey-medium);
  border-radius: 10px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
}

.cardBodyStyle[type="recomendations"] .thumbStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardBodyStyle[type="recomendations"] .thumbStyle .heartIconStyle {
  margin: 2px 14px 0px -34px;
  cursor: pointer;
}

.cardBodyStyle[type="recomendations"] .thumbStyle .imgStyle {
  margin-bottom: -1px;
  margin-left: -1px;
  min-height: 17.75rem;
  max-width: 20.5rem;
  width: auto;
  border-radius: 10px;
}

.cardBodyStyle[type="recomendations"] .detailsStyle {
  padding: 0.75rem 0.75em 0.75rem 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .titleStyle > h1 {
  letter-spacing: -2px;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .titleStyle .starsStyle {
  margin-bottom: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .titleStyle .starsStyle > h4 {
  color: var(--navy-light);
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .titleStyle .starsStyle .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .gradesStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .gradesStyle .grade {
  width: 2rem;
  height: 1.75rem;
  padding-top: 0.25rem;
  background-color: var(--navy-light);
  color: var(--grey-light);
  text-align: center;
  border-radius: 10px;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section1 .gradesStyle .gradeText {
  text-align: end;
  color: var(--navy-light);
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section2 {
  margin-bottom: 1.25rem;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section2 .locationText {
  letter-spacing: -0.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.25rem;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section2 .locationText .linkStyle {
  text-decoration: none;
  color: var(--green-light);
  margin-left: 0.25rem;
  text-transform: uppercase;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section2 .diferentialsStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.25rem;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 3.25rem;
  margin-bottom: 0.5rem;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section3 .textStyle {
  display: inline-flexbox;
  color: var(--navy-light);
}

.cardBodyStyle[type="recomendations"] .detailsStyle .section3 .maisTexto {
  margin-left: 0.25rem;
  color: var(--green-light);
}

.cardBodyStyle[type="recomendations"] .detailsStyle .btn {
  height: 2.5rem;
  max-width: 18.5rem;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: end;
      justify-self: end;
  border: none;
  border-radius: 5px;
  background-color: var(--green-light);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.12);
  color: var(--grey-light);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cardBodyStyle[type="recomendations"] .detailsStyle .btn:hover {
  background-color: var(--green-medium);
}

@media (max-width: 768px) {
  .cardBodyStyle[type="category"] {
    height: 15.5rem;
    width: 20.75rem;
  }
  .cardBodyStyle[type="category"] .thumbStyle .imgStyle {
    height: 11.5rem;
    width: 20.75rem;
    border-radius: 10px 10px 0 0;
  }
  .cardBodyStyle[type="recomendations"] {
    min-height: 17.5rem;
    max-width: 44.5rem;
  }
  .cardBodyStyle[type="recomendations"] .thumbStyle .imgStyle {
    max-width: 21.5rem;
  }
  .cardBodyStyle[type="recomendations"] .detailsStyle .btn {
    max-width: 20.75rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 605px) {
  .cardBodyStyle[type="category"] {
    height: 17.25rem;
    height: auto;
    max-width: 24.75rem;
  }
  .cardBodyStyle[type="category"] .thumbStyle .imgStyle {
    height: 12.875rem;
    height: auto;
    max-width: 24.75rem;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .cardBodyStyle[type="recomendations"] {
    max-width: 24.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardBodyStyle[type="recomendations"] .thumbStyle .imgStyle {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 14.5rem;
    max-width: 24.75rem;
    width: 101%;
  }
  .cardBodyStyle[type="recomendations"] .detailsStyle {
    padding: 0rem 0.5em 0.5rem 0.5rem;
  }
  .cardBodyStyle[type="recomendations"] .detailsStyle .btn {
    max-width: 23.5rem;
  }
}

/* @media (max-width: 414px) {
    .cardBodyStyle[type="recomendations"] {
        max-width: 24.75rem;
        flex-direction: column;

        .thumbStyle {

            .imgStyle {
                max-height: 14.5rem;
                height: auto;
                max-width: 24.75rem;
                width: 101%;
            }
        }

        .detailsStyle {
            padding: 0rem 0.5em 0.5rem 0.5rem;

            .btn {
                max-width: 22.5rem;
            }
        }
    }
} */
svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  margin-left: -12px;
  margin-right: -8px;
}

svg .heart {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: animateHeartOut .3s linear forwards;
          animation: animateHeartOut .3s linear forwards;
  fill: var(--gray-light);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

svg .heart:hover {
  fill: var(--red-favorite);
}

svg .main-circ {
  -webkit-transform-origin: 29.5px 29.5px;
          transform-origin: 29.5px 29.5px;
}

.inputFavStyle {
  display: none;
}

.inputFavStyle:checked + .labelStyle svg .heart {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  fill: #E2264D;
  -webkit-animation: animateHeart .3s linear forwards .25s;
          animation: animateHeart .3s linear forwards .25s;
}

.inputFavStyle:checked + .labelStyle svg .main-circ {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-animation: animateCircle .3s linear forwards;
          animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.inputFavStyle:checked + .labelStyle svg .grp1 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp1 .oval1 {
  -webkit-transform: scale(0) translate(0, -30px);
          transform: scale(0) translate(0, -30px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp1 .oval2 {
  -webkit-transform: scale(0) translate(10px, -50px);
          transform: scale(0) translate(10px, -50px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg #grp2 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg #grp2 .oval1 {
  -webkit-transform: scale(0) translate(30px, -15px);
          transform: scale(0) translate(30px, -15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg #grp2 .oval2 {
  -webkit-transform: scale(0) translate(60px, -15px);
          transform: scale(0) translate(60px, -15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp3 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp3 .oval1 {
  -webkit-transform: scale(0) translate(30px, 0px);
          transform: scale(0) translate(30px, 0px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp3 .oval2 {
  -webkit-transform: scale(0) translate(60px, 10px);
          transform: scale(0) translate(60px, 10px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp4 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp4 .oval1 {
  -webkit-transform: scale(0) translate(30px, 15px);
          transform: scale(0) translate(30px, 15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp4 .oval2 {
  -webkit-transform: scale(0) translate(40px, 50px);
          transform: scale(0) translate(40px, 50px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp5 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp5 .oval1 {
  -webkit-transform: scale(0) translate(-10px, 20px);
          transform: scale(0) translate(-10px, 20px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp5 .oval2 {
  -webkit-transform: scale(0) translate(-60px, 30px);
          transform: scale(0) translate(-60px, 30px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp6 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp6 .oval1 {
  -webkit-transform: scale(0) translate(-30px, 0px);
          transform: scale(0) translate(-30px, 0px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp6 .oval2 {
  -webkit-transform: scale(0) translate(-60px, -5px);
          transform: scale(0) translate(-60px, -5px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp7 {
  opacity: 1;
  -webkit-transition: .1s all .3s;
  transition: .1s all .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp7 .oval1 {
  -webkit-transform: scale(0) translate(-30px, -15px);
          transform: scale(0) translate(-30px, -15px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: .5s transform .3s;
  transition: .5s transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp7 .oval2 {
  -webkit-transform: scale(0) translate(-55px, -30px);
          transform: scale(0) translate(-55px, -30px);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transition: 1.5s -webkit-transform .3s;
  transition: 1.5s -webkit-transform .3s;
  transition: 1.5s transform .3s;
  transition: 1.5s transform .3s, 1.5s -webkit-transform .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp2 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp3 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp4 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp5 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp6 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

.inputFavStyle:checked + .labelStyle svg .grp7 {
  opacity: 1;
  -webkit-transition: .1s opacity .3s;
  transition: .1s opacity .3s;
}

@-webkit-keyframes animateCircle {
  40% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    -webkit-transform: scale(11);
            transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    -webkit-transform: scale(12);
            transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    -webkit-transform: scale(13);
            transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    -webkit-transform: scale(17);
            transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    -webkit-transform: scale(18);
            transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    -webkit-transform: scale(19);
            transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateCircle {
  40% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    -webkit-transform: scale(11);
            transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    -webkit-transform: scale(12);
            transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    -webkit-transform: scale(13);
            transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    -webkit-transform: scale(17);
            transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    -webkit-transform: scale(18);
            transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    -webkit-transform: scale(19);
            transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animateHeartOut {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=Card.css.map */