.litepicker {
    .container__days {
        .day-item.is-end-date {
            background-color: var(--green-light);
        }

        .day-item.is-start-date {
            background-color: var(--green-light);
        }

        .day-item.is-in-range {
            background-color: #1dbeb450;
        }
    }
    .container__footer {
        .button-apply {
            width: 5rem;
            height: 2rem;
            border: none;
            border-radius: 5px;
            background-color: var(--green-light);
            box-shadow: 0px 2px 4px rgb(0 0 0 / 12%);
            color: var(--grey-light);
            font-style: normal;
            font-weight: 700;
            font-size: .875rem;
            line-height: 1.25rem;
            cursor: pointer;
            transition: background-color 0.2s;
            &:hover{
                background-color: var(--green-medium);
            }
        }
        .button-cancel {
            width: 5rem;
            height: 2rem;
            border: none;
            border-radius: 5px;
            background-color: var(--grey-light);
            box-shadow: 0px 2px 4px rgb(0 0 0 / 12%);
            color: var(--grey-darker);
            font-style: normal;
            font-weight: 700;
            font-size: .875rem;
            line-height: 1.25rem;
            cursor: pointer;
            transition: background-color 0.2s;
            &:hover{
                background-color: var(--grey-medium);
            }
        }
    }
}
@media (max-width: 768px) {
    .calendar-container {
      width: 100%;
    }
  }

.searchBarStyle {
    background-color: var(--coral-light);
    height: 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .searchTitle {
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem; //36px
        line-height: 2.75rem; //44px
        color: #ffffff;
    }

    .formStyle {
        display: flex;
        align-items: flex-end;
        gap: 0.625rem;
        flex-direction: row;
        align-content: center;
        justify-content: flex-end;
        flex-wrap: nowrap;

        .citySection {

            .mapIcon {
                position: relative;
                top: 0.3rem;
                right: -2.25rem;
                margin: 0 -0rem 0 0;
                //z-index: 10;
            }

            .inputSearchStyle {
                height: 2.5rem;
                width: 100%;
                min-width: 20rem;
                padding-left: 2rem;
                z-index: 0;
                border-radius: 5px;
                border: none;
                outline: none;
            }

        }

        .dateSection {

            .mapIcon {
                position: relative;
                top: 0.3rem;
                right: -2.25rem;
                margin: 0 -0rem 0 0;
                //z-index: 10;
            }

            .inputSearchStyle {
                height: 2.5rem;
                width: 100%;
                min-width: 20rem;
                padding-left: 2rem;
                z-index: 0;
                border-radius: 5px;
                border: none;
                outline: none;
            }

        }

        .btn {

            //max-width: 13rem;
            width: 13rem;
            height: 2.5rem;
            //padding: 0.5rem 2.25rem;

            border: none;
            border-radius: 5px;
            background-color: var(--green-light);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);

            color: var(--grey-light);
            font-style: normal;
            font-weight: 700;
            font-size: 1rem; //16px
            line-height: 1.25rem; //20px

            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--green-medium);
            }
        }
    }


}

@media (max-width: 768px) {}

@media (max-width: 414px) {}