.mainStyle {
    padding: 0.875rem 0rem 0rem 0rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .categoriesSection {
        padding: 0 2.5rem 0 2.5rem;
        background-color: #ffffff;
        margin-bottom: 0.75rem;
        //min-height: 19.25rem; //308px a ser confirmado

        >h1 {
            margin: 0.75rem 0 0.5rem 0;
        }
    }

    .recomendationsSection {
        padding: 0 2.5rem 4.5rem 2.5rem;
        background-color: #383b571a;

        >h1 {
            margin: 1.25rem 0 0.75rem 0;
        }
    }


    .cardsContainer {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .mainStyle {
        
        .categoriesSection {
            
            margin-bottom: 1.75rem;
            
            >h1 {
                
                margin: 0.75rem 0 0.5rem 0;
            }
        }
    
    }
}

@media (max-width: 759px) {
    .mainStyle {
        .categoriesSection {
            >h1 {
                text-align: center;   
            }
        }
    }
}

@media (max-width: 590px) {
    .mainStyle {  
        .recomendationsSection {
            >h1 {
                text-align: center;
            }
        }
    }
}